<app-header></app-header>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form #f="ngForm" (ngSubmit)="f.form.valid && login()">
                        <div class="div alert alert-danger" *ngIf="errorMessage">
                            {{errorMessageLogin}}
                        </div>
                        <input type="email" id="email" name="email" [(ngModel)]="userLogin.email" #email="ngModel" placeholder="Email Address" required/>
                        <input type="password" id="password" name="password" [(ngModel)]="userLogin.password" #password="ngModel" placeholder="Password"/>
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form #f="ngForm" (ngSubmit)="f.form.valid && register()">
                        <div class="div alert alert-danger" *ngIf="errorMessage">
                            {{errorMessage}}
                        </div>
                        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.fname" #firstName="ngModel" placeholder="First Name" required/>
                        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lname" #lastName="ngModel" placeholder="Last Name" required/>
                        <input type="email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email Address" required/>
                        <input type="text" id="phone" name="phone" [(ngModel)]="user.phone" #phone="ngModel" placeholder="Phone"/>
                        <input type="text" id="address" name="address" [(ngModel)]="user.adress" #address="ngModel" placeholder="Address"/>
                        <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Password"/>
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

<app-footer></app-footer>
