<div *ngFor="let product of products" class="col-sm-4">
  <a routerLink="/products/{{ product.id }}">
  <div class="product-image-wrapper">
    
    <div class="single-products">
      <div class="productinfo text-center">

        <img src="assets/images/home/product6.jpg" alt="" />
        <h2>{{product.nprix}}TND</h2>
        <p>{{product.name}}</p>
        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2>{{product.nprix}}TND</h2>
          <p>{{product.description}}</p>
          <button (click)="addToCart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
        </div>
      </div>
    </div>

    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
      </ul>
    </div>
  </div>
</a>
  
</div>
