<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../../../assets/admin/img/logo-small.png">
        </div>

      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        El-Margoumino
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="back">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="listProduct">
            <i class="nc-shop"></i>
            <p>Products</p>
          </a>
        </li>
        <li>
          <a href="listCategory">
            <i class="nc-bag-16"></i>
            <p>Category Product</p>
          </a>
        </li>
        <li>
          <a href="myprofile">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>